@use "@angular/material" as mat;

$custom-border-radius: 20px;

:root {
  --custom-border-radius: #{$custom-border-radius};
  --custom-border-radius-small: #{calc($custom-border-radius / 2)};
  --custom-border-radius-large: #{calc($custom-border-radius * 1.5)};

  --custom-primary-contrast: #ffffff;
  --custom-primary-contrast-variant: #ffffffe6;
  --custom-primary-contrast-shadow: #0000001a;
  --custom-secondary-contrast-shadow: #b08fe392;

  --custom-secondary: #7c3aed;
  --custom-secondary-light: #8b5cf6;
  --custom-secondary-dark: #6d28d9;

  --mdc-theme-primary-container: #dbeafe;
  --mdc-theme-on-primary-container: #1e3a8a;

  --mdc-theme-secondary-container: #ede9fe;
  --mdc-theme-on-secondary-container: #5b21b6;

  --mdc-theme-error: #dc2626;

  --mdc-theme-outline: #d1d5db;

  @include mat.snack-bar-overrides(
    (
      container-shape: rounded,
      button-color: var(--custom-secondary-dark),
      container-color: var(--custom-secondary-light),
    )
  );
}

.mat-mdc-button-base {
  --mdc-text-button-label-text-color: var(--mdc-theme-primary);
  --mdc-filled-button-container-color: var(--mdc-theme-primary);
  --mdc-filled-button-label-text-color: var(--mdc-theme-on-primary);
  --mdc-outlined-button-outline-color: var(--mdc-theme-outline);
}

.mat-mdc-form-field {
  --mdc-filled-text-field-active-indicator-color: var(--mdc-theme-primary);
  --mdc-filled-text-field-focus-active-indicator-color: var(
    --mdc-theme-primary
  );
  --mdc-outlined-text-field-focus-outline-color: var(--mdc-theme-primary);
  --mdc-outlined-text-field-outline-color: var(--mdc-theme-outline);

  &.mat-focused {
    --mdc-filled-text-field-active-indicator-color: var(
      --mdc-theme-on-secondary-container
    );
    --mdc-filled-text-field-focus-active-indicator-color: var(
      --mdc-theme-on-secondary-container
    );
    --mdc-outlined-text-field-focus-outline-color: var(
      --mdc-theme-on-secondary-container
    );
    --mdc-outlined-text-field-outline-color: var(
      --mdc-theme-on-secondary-container
    );

    &.mat-icon {
      color: var(--custom-secondary);
    }
  }
  &.mat-label {
    --mdc-floating-label-color: var(--mdc-theme-on-secondary-container);
    --mdc-floating-label-ink-color: var(--mdc-theme-on-secondary-container);
  }
}

.mat-mdc-card {
  --mdc-elevated-card-container-color: var(--mdc-theme-surface);
  --mdc-outlined-card-outline-color: var(--mdc-theme-outline);
}

.mat-mdc-icon-button {
  border-radius: $custom-border-radius !important;
}

.mat-mdc-dialog-container {
  border-radius: $custom-border-radius !important;

  .mdc-dialog__surface {
    border-radius: $custom-border-radius !important;
  }
}

.mat-mdc-raised-button {
  border-radius: $custom-border-radius !important;
}
